<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<object width="648" height="360">
<param name="movie" value="http://widgets.clearspring.com/o/46928cc51133af17/49fb890ba5a3da4c/46928cc520205d86/8f131daf/"></param>
<param name="wmode" value="transparent"></param>
<embed src="http://widgets.clearspring.com/o/46928cc51133af17/49fb890ba5a3da4c/46928cc520205d86/8f131daf/" type="application/x-shockwave-flash" wmode="transparent" width="648" height="360"></embed>
</object>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8751659-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
