
<div id="content">
  <div id="formleft">
    <h1>
      <b>To see pricing and submit an order inquiry, go <a href="http://victorlinphoto.com/realestate/prices.php">HERE</a>.</b>
    </h1>
    <br />
    <h2>
      <span class="white">Email (fastest): </span>
      <br />
      <span class="brown"><a class="white" href="mailto:victor@victorlinphoto.com">victor@victorlinphoto.com</a></span>
    </h2>
    <h2><span class="brown2">Call or text:<br />
      </span>(650) - 248 - 0289
    </h2>
    <br />
  </div>
  <br clear="all" />
</div>
