
<div id="content">
  <div id="left_narrow" style="padding-top:0px; text-align: justify;">
    <h1>Visual Marketing You Can Count On</h1>
    <p>
      <strong>Victor Lin's real estate photography</strong> will grab the attention of home seekers, giving you a distinct competitive advantage in today's marketplace. Gone will be the days of badly-lit, blurry pictures that actually turn away buyers rather than attract them. Fast turnaround and striking pictures mean that these images will be up and impressing buyers in no time.
    </p>
  </div>
  <div id="right_wide">
    <div class="curve_top"></div>
    <div id="right_box_slider">
      <!-- News Slider -->
      <div class="slider_portfolio imagesportfolio">
        <div class="messaging"> Please Note: You may have disabled JavaScript and/or CSS. Although this content will be accessible, certain functionality is unavailable. </div>
        <div class="slider_portfolio_items">
          <div class="slider_portfolio_container fl">
            <div class="slider_portfolio_item fl">
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-1.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-1.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-2.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-2.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-3.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-3.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-4.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-4.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-5.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-5.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-6.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-6.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
            </div>
            <div class="slider_portfolio_item fl">
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-7.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-7.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-8.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-8.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-9.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-9.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-10.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-10.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-11.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-11.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-12.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-12.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
            </div>
            <div class="slider_portfolio_item fl">
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-13.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-13.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-14.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-14.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-15.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-15.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-16.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-16.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-17.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-17.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-18.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-18.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
            </div>
            <div class="slider_portfolio_item fl">
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-19.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-19.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-20.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-20.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-21.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-21.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-22.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-22.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-23.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-23.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-24.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-24.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
            </div>
            <div class="slider_portfolio_item fl">
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-25.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-25.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-26.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-26.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style="  margin-right:0; "> <a href="../media/realestate/realestate-27.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-27.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
              <div class="slider_thumb" style=" "> <a href="../media/realestate/realestate-28.jpg" rel="lightbox"><img src="../media/realestate/realestate_thumb-28.jpg" width="163" height="163" alt="" class="whiteBorder5" /></a> </div>
            </div>
          </div>
        </div>
        <br />
        <img src="../images/lightbox/title_enlargethumb_gray.gif" alt="Click thumbnails to enlarge" align="left" style="margin-right:15px;" />
        <div id="next_prev">
          <div id="previous" > <a href="#" class="slider_portfolio_prev"> <img src="../images/lightbox/title_previous.gif" alt="Click here to scroll through images" title="Previous" /></a> </div>
          <div id="next"> <a href="#" class="slider_portfolio_next"> <img src="../images/lightbox/title_more.gif" alt="Click here to scroll through images" title="Next" /></a> </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- News Slider [ End ] -->
    </div>
    <div class="curve_bottom"></div>
  </div>
  <br clear="all" />
</div>