
<div id="content">
  <div id="left_even"><br/>
    <h1><b>Order Inquiry Form</b></h1>  <br/>
    <h1><b>Please select the location of the property:</b></h1> <br/>
    <a href="http://victorlinphoto.com/order.html?page=area_1"><h3>Campbell, Cupertino, East Palo Alto, Fremont, Los Altos, Los Gatos, Menlo Park, Milpitas, Mountain View, Newark, Palo Alto, San Jose, Santa Clara, Saratoga, Sunnyvale, Union City</a></h3><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_2"><h3>Atherton, Belmont, Burlingame, Dublin, Hayward, Hillsborough, Millbrae, Morgan Hill, Redwood City, San Bruno, San Carlos, San Leandro, San Mateo, Foster City</a></h3><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_3"><h3>Alameda, Berkeley, Daly City, Gilroy, Half Moon Bay, Oakland, Pacifica, San Francisco, South San Francisco, San Leandro</a></h3><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_4"><h3>The location of the property is not listed here.</a></h3><br /><br />
  </div>
</div>
