
<div id="content">
  <div id="left_even"><br/>
    <h1><b>Prices</h1><br/>
    <h2><b>Please select the location of the property:</b></h2> <br/>
    <a href="http://victorlinphoto.com/order.html?page=area_1"><p>Campbell, Cupertino, East Palo Alto, Fremont, Los Altos, Los Gatos, Menlo Park, Milpitas, Mountain View, Newark, Palo Alto, San Jose, Santa Clara, Saratoga, Sunnyvale, Union City</a></p><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_2"><p>Atherton, Belmont, Burlingame, Dublin, Hayward, Hillsborough, Millbrae, Morgan Hill, Redwood City, San Bruno, San Carlos, San Leandro, San Mateo, Foster City</a></p><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_3"><p>Alameda, Berkeley, Daly City, Gilroy, Half Moon Bay, Oakland, Pacifica, San Francisco, South San Francisco, San Leandro</a></p><br /><br />

    <a href="http://victorlinphoto.com/order.html?page=area_4"<p>The location of the property is not listed here.</a></p><br /><br />
  </div>
</div>
