
<div id="content">
    <div id="left_narrow" style="padding-top:14px;">
      <h1>The Cutting Edge of Imagery</h1>
      <p><strong>Can you guess how many individual shots</strong> I take in a standard package of 15 still photos and 3 panoramas? 40? 50? Try <strong>351</strong>. I employ High Dynamic Range (HDR) photography which allows me to capture the entire range of light levels in a scene. With HDR photography each scene is photographed 9 times, each time at a different exposure, and then blended together to create one stunning picture that showcases your property better than reality. No more will you have windows that are blown out and entirely white. No more will you have photos that look like they were taken inside a cave. </p>
      <p><strong>I've been making digital panoramics </strong>ever since the activity was in its infancy, back when people were building their own  camera brackets in their garage and using clunky, frustrating software to stitch their individual images into panoramic masterpieces. Nowadays, I do the same HDR 9-shot procedure as detailed above for all my panoramics. The images are taken using special panoramic equipment, blended into multiple HDR images, and stitched together into a panorama using sophisticated software. Nothing can really compare to the effect of a well done, seamless panorama. Home buyers will certainly appreciate the added immersion of a 360&deg; panorama that makes them feel like they are standing within the property itself.</p>
    </div>
    <div id="right_wide">
      <div class="curve_top"></div>
      <div id="right_box_slider">
        <!-- News Slider -->
        <div class="slider_portfolio imagesportfolio">
          <div class="messaging"> Please Note: You may have disabled JavaScript and/or CSS. Although this content will be accessible, certain functionality is unavailable. </div>
          <div class="slider_portfolio_items">
            <div class="slider_portfolio_container fl">
              <div class="slider_portfolio_item fl">
                <div class="slider_techniquethumb" style=" "><h2>Hover Mouse Over for Before/After HDR</h2><a href="hdrbeforeafter.html" target="_blank" onmouseover="mouseOver()"onmouseout="mouseOut()" ><img border="5" alt="" src="../images/hdrsmallbefore.jpg" id="b1" class="whiteBorder5"/></a> </div>
              </div>
              </div>
            </div>
          </div>
          <br />
          <div id="next_prev">
            <div id="previous" > <a href="#" class="slider_portfolio_prev"><img src="../images/lightbox/title_previous.gif" alt="Click here to scroll through images" title="Previous" /></a> </div>
            <div id="next" > <a href="#" class="slider_portfolio_next"><img src="../images/lightbox/title_more.gif" alt="Click here to scroll through images" title="Next" /></a> </div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- News Slider [ End ] -->
      </div>
      <div class="curve_bottom"></div>
    </div>
    <br clear="all" />
  </div>
